body {
	margin:0;
	background-color:#121313;
}

#main {
	text-align:center;
}

#tt {
	font-family: 'Syncopate', sans-serif;
}

#text {
	font-size:15px;
	color:#FDE1B7;
	margin-top:40px;
}

.link {
	color:#FDE1B7;
}

#mail {
	font-size:18px;
}


#header {
	margin-top:30px;
	width:1000px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
#text {
	margin-top:120px;
}
#header {
	margin-top:0px;
	width:100%;
}
}