body {
	margin:0;
	background-color:#ffffff;
}

#main {
	text-align:center;
}

#tt {
	font-family: 'Syncopate', sans-serif;
}

#text {
	font-size:15px;
	color:#000000;
	margin-top:40px;
}

.link {
	color:#000000;
}

#mail {
	font-size:18px;
}

ul {
	list-style-type: none;
	margin-left:-30px;
}

li {
	display: inline-block;
	margin:10px;
}

.logo {
	width:35px;
	height:auto;
}

#fb {
	
}

#insta {
	
}

#twitter {
	
}


#insta:hover {
	
}

#twitter:hover {
	
}

#header {
	margin-top:30px;
	width:1000px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
#text {
	margin-top:120px;
}
#header {
	margin-top:0px;
	width:100%;
}
.logo {
	width:35px;
	height:auto;
}
}